* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-inline-size: 100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	color: #070707;
	background-color: #fff;

	min-height: 100vh;
	display: grid;
	grid-template-columns:
		[sidebar-start]
		5rem
		[sidebar-end main-start]
		1fr
		[main-end];
}

h1 {
	font-size: 1.75rem;
	line-height: 1.5;
	margin-block-end: 1rem;
}

.sidebar {
	grid-column: sidebar;
	color: #fff;
	background-color: #1d1d29;
}

.logo {
	display: flex;
	justify-content: center;
	font-size: 3rem;
	line-height: 1.5;
}

.main {
	grid-column: main;
	padding: 1.25rem;
}

/* Photo gallery */

.gallery {
	display: grid;
	grid-auto-flow: dense;
	grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
	grid-auto-rows: 12.5rem;
	gap: 0.75rem;
}

.gallery figure {
	overflow: hidden;
	display: grid;
	/* grid-template-columns: 1fr;
	grid-template-rows: 1fr; */
	grid-template-columns: minmax(0, 1fr);
	grid-template-rows: minmax(0, 1fr);
}

.gallery img {
	inline-size: 100%;
	block-size: 100%;
	object-fit: cover;
	grid-row: 1/-1;
	grid-column: 1/-1;

	transition: scale 1s ease-in-out;
}

.gallery a {
		font-family: "Open Sans", sans-serif;
		font-size: 16px;
		letter-spacing: 2px;
		text-decoration: none;
		text-transform: uppercase;
		color: #000;
		cursor: pointer;
		border: 3px solid;
		padding: 0.25em 0.5em;
		box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px,
			4px 4px 0px 0px, 5px 5px 0px 0px;
		position: relative;
		user-select: none;
		-webkit-user-select: none;
		touch-action: manipulation;

	.button-54:active {
		box-shadow: 0px 0px 0px 0px;
		top: 5px;
		left: 5px;
	}

	@media (min-width: 768px) {
		.button-54 {
			padding: 0.25em 0.75em;
		}
	}
}

.gallery figure:hover img {
	scale: 1.125;
}

.gallery figcaption {
	grid-row: 1/-1;
	grid-column: 1/-1;
	z-index: 1;
	color: #fff;
	line-height: 1.3;
	background: linear-gradient(transparent 25%, rgb(0 0 0/ 0.75));
	align-self: flex-end;
	padding: 10px;
}

.gallery figcaption h3 {
	font-size: 1.06rem;
}

.gallery figcaption p {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
@media (width > 600px) {
	.gallery figure:nth-child(1) {
		grid-area: span 2 / span 2;
	}

	.gallery figure:nth-child(4n + 1) {
		grid-row: span 2;
	}

	.gallery figure:nth-child(4n + 2) {
		grid-column: span 2;
	}
}
